<h2> Dashboard Administrateur </h2> 
<br>
<br>
<h6> Nombre total de photos de chat sur le site : <%= Item.count%> </h6>
<h6> Nombre d'utilisateurs inscrits actuellement sur le site : <%= User.count%> </h6>
<h6> Actuellement le nombre total des commandes s'élève à : <%= Order.count%> </h6>
<p> <i> En voici le détail : </i></p>

    <% @orders.each do |order| %>
        <p><%= order.user %></p>
    <% end %>
  