<div class="card">
<h1>New Item</h1>
<br>
  <div class="m-auto, col-6 mt-3">
    <%= render 'form', item: @item %>
    <br><hr><br>
    <%= link_to 'Back', items_path, class:"btn btn-secondary btn-sm" %>
  </div>
</div>
