<% flash.each do |type, msg| %>
  <% if type == "alert" %>
    <div class="alert alert-dismissible alert-warning mt-1">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="mb-0"><%= alert %></p>
    </div>
  <% elsif type == "notice" %>
    <div class="alert alert-dismissible alert-success mt-1">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="mb-0"><%= notice %></p>
    </div>
  <% else %>
    <div class="alert alert-dismissible alert-info mt-1">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="mb-0">Ce type de message n'est pas paramétré type : <% type %></p>
    </div>
  <% end %>
<% end %>